{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'studyui_report_list' %}">Report Listing</a></p>
<table class="table">
<tr><td>report_id</td><td>{{ object.report_id }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>library</td><td>{{ object.library }}</td></tr>
<tr><td>subject_data</td><td>{{ object.subject_data }}</td></tr>
<tr><td>column_variable</td><td>{{ object.column_variable }}</td></tr>
<tr><td>filter</td><td>{{ object.filter }}</td></tr>
<tr><td>stat_label</td><td>{{ object.stat_label }}</td></tr>
<tr><td>template</td><td>{{ object.template }}</td></tr>
<tr><td>report_type</td><td>{{ object.report_type }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Report</a>

{% endblock %}